SFO2O.M/SFO2O.M/SFO2O.References/Service References/IndexingService/IndexingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfdemo.sfo2o.com/IndexingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SFO2O.Service.Model.Indexing" />
  <xs:element name="SearchProductResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SFO2O.Service.Model.Indexing" minOccurs="0" name="requestinfo" nillable="true" type="q1:ProductRequestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProductResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SFO2O.Service.Model.Indexing" minOccurs="0" name="SearchProductResultResult" nillable="true" type="q2:ProductResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>