SFO2O.Supplier/SFO2O.Supplier.Web/Service References/GetSFData/GetSFData1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfdemo.sfo2o.com/GetSFData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SFO2O.Service.Model.Entity" />
  <xs:element name="GetExpressInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tarcking_number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SFO2O.Service.Model.Entity" minOccurs="0" name="GetExpressInfoResult" nillable="true" type="q1:ArrayOfExpressInfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryIndentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryIndentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryIndentityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>